@import url('https://fonts.cdnfonts.com/css/cooper-black');
@import url('https://fonts.cdnfonts.com/css/cooper-std');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFF4E8;
}

h2 {
  font-family: 'Cooper Std', sans-serif;
  color: #086374;
}

p, a {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #741908;
}

a {
  color: #086374;
}

.wrapper {
  position: absolute;
  height: 90%;
  width: 60%;
  top: 5%;
  left: 20%;
  background: rgb(247,234,220);
  background: radial-gradient(circle, rgba(247,234,220,1) 0%, rgba(255,244,232,1) 50%);

  border: 2px solid #741908;
}

#header {
  height: 30vh;
  background-color: #741908;
}

#header h1 {
  font-family: 'Cooper Black', sans-serif;
  font-size: 9vw;
  font-style: italic;
  letter-spacing: 2px;
  width: 105%;
  margin-left: -2.5%;
  color: #FFF4E8; 
}

#header p {
  font-family: 'Cooper Std', sans-serif;
  font-size: 24px;
  letter-spacing: 1px;
  text-align: center;
  color: #FFF4E8;
}

.container {
  display: flex;
  flex-direction: column;
}

.bloc-tabs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
  height: 7.5vh;
  font-size: 28px;
  border-right: 2px dashed #741908;
}

.tabs p {
  margin-top: 4px;
  font-family: 'Cooper Std', sans-serif;
}

.tabs:last-child {
  border-right: none;
}

.tabs:hover {
  text-decoration: underline;
}

.active-tabs {
  background: #fcc9b3;
}

.active-tabs:hover {

}

.content {
  border-top: 2px solid #741908;
  display: none;
}

.active-content {
  display: block;
  height: 45vh;
}

.home-wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

#contact-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 50vh;
}

.main-body {
  height: 100%;
  border-right: 2px solid #741908;
}

.secondary-body {
  margin: 12px;
  border: 2px dashed #741908;
}

.image-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.image-container img {
  width: 110%;
}

.body-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px;
}

.body-content h2 {
  font-size: 40px;
  padding-bottom: 24px; 
  margin-right: 16px;
}

.body-content p {
  font-size: 2.25vmin;
}

.projects-wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2.25fr;
}

#projects {
  border-right: none;
  border-left: 2px solid #741908;
}

.project-container {
  height: 39.5vh;
  margin: 12px;
}

.project-container h2 {
  font-size: 30px;
}

.project-display {
  height: 100%;
  min-width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2px;
}

.project-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 12px;
  border: 2px solid #741908;
}

.project-description h3 {
  margin-bottom: 4px;
}

.project-description p, .project-description a {
  margin-bottom: 8px;
}

.project-image {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.project-image img {
  height: 39.5vh;
  max-width: 100%;
  object-fit: contain;
}

.project-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.project-tab {
  display: flex;
  flex-grow: 1;
  width: 100%;

  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
  border-bottom: 2px dashed #741908;
  font-size: 18px;
}

.project-tab:hover {
  text-decoration: underline;
}

.project-tab:last-child {
  border-bottom: none;
}

.active-project-tab {
  background: #fcc9b3;
}

.project {
  display: none;
}

.active-project {
  display: flex;
  justify-content: center;
}

.project-description a:hover {
  transform: scale(1.025);
}

.contact-wrapper {
  display: grid;
  grid-template-rows: 2fr 1fr;
  height: 100%;
}

#contact {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: none;
  border-bottom: 2px solid #741908;
}

#contact-body {
  flex-direction: column;
  text-align: center;
}

#contact-body a {
  font-size: 22px;
  padding-top: 4px;
}

#contact-body a:hover {
  transform: scale(1.015);
}

#socials-body  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8px;
  font-size: 36px;
}

.socials {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 8px;
  gap: 16px;
}

.socials a:hover {
  transform: scale(1.025);
}

#footer {
  display: flex;
  justify-content: center;
  gap: 4px;
  align-items: center;
  background-color: #741908;
  height: 7.5vh;
}

.toggle {
  font-size: 24px;
  color: #FFF4E8;
  cursor: pointer;
}

.toggle:hover {
  transform: scale(1.05);
}

.copyright {
  font-size: 16px;
  color: #FFF4E8;
}